.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	padding: 0px 20px 10px 0px;
	/*border-style: solid;*/
	vertical-align: top;
}

.divider {
	padding-bottom: 10px
}